<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="beanA" class="com.vesg.springframework.A" />
	<bean id="beanB" class="com.vesg.springframework.B" scope="singleton"
		lazy-init="true">
		<constructor-arg name="aNesnesi" ref="beanA" />
	</bean>
	<bean id="beanC" class="com.vesg.springframework.C">
		<constructor-arg name="aNesnesi" ref="beanA" />
		<constructor-arg name="bNesnesi" ref="beanB" />
	</bean>
</beans>
